
*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #373b69;
  color: white;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


.heading{
  text-align: center;
  color: white;
}

.show-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.show{
  width: fit-content;
  background-color: #373b69;
  width: 250px;
  margin: 2rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0,0, 0.5);
  overflow: hidden;
  text-align: center;
 
}


.show-info{
display: flexbox;
padding: 1.5rem;
justify-content: space-between;
}

.show button{
border-radius: 20px;
margin: 5px;
padding: 5px;
background-color: aliceblue;
color: #373b69;
cursor: pointer;
font-weight: bold;
border-style: none;
}